{% extends 'base.html.twig' %}

{% block body %}
<div class="wt-haslayout wt-innerbannerholder">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                <div class="wt-innerbannercontent">
                    <div class="wt-title"><h2>Mes missions</h2></div>
                    <ol class="wt-breadcrumb">
                        <li><a href="{{ path("home") }}">Accueil</a></li>
                        <li class="wt-active">Mes missions</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
    <div class="wt-haslayout wt-main-section">
        <!-- Ask Listing Start-->
        <div class="wt-haslayout">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="wt-userlistingholder wt-haslayout">
                            <div class="wt-userlistingtitle">
                                <span> {{ asks|length }} demande(s)</span>
                            </div>
                            {% for ask in asks %}
                            <div class="wt-userlistinghold wt-userlistingholdvtwo">                                
                                <div class="wt-userlistingcontent">
                                    <div class="wt-contenthead ask-item">
                                        <div class="wt-title">
                                            <a href="usersingle.html"><i class="fa fa-check-circle"></i> {{ ask.user.name }}</a>
                                            <h2>{{ ask.title }}</h2>
                                        </div>
                                        <div class="wt-description">
                                            <p>{{ ask.description }}</p>
                                        </div>
                                    </div>
                                    <div class="wt-viewjobholder">
                                        <ul>
                                            <li><span><i class="far fa-calendar-alt wt-viewjobdollar"></i>{{ ask.date|date("d/m/Y") }}</span></li>
                                            <li><span><i class="fas fa-map-marker-alt wt-viewjobdollar"></i>{{ ask.city.name }}</span></li>
                                            <li><span><i class="far fa-folder wt-viewjobdollar"></i>{{ ask.mission.name }}</span></li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <a href="{{ path("ask_edit", {id: ask.id}) }}" class="wt-btn w-100 mt-2">Modifier</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>   
                            </div>
                            {% endfor %}
                            {# <nav class="wt-pagination">
                                <ul>
                                    <li class="wt-prevpage"><a href="javascrip:void(0);"><i class="lnr lnr-chevron-left"></i></a></li>
                                    <li><a href="javascrip:void(0);">1</a></li>
                                    <li><a href="javascrip:void(0);">2</a></li>
                                    <li><a href="javascrip:void(0);">3</a></li>
                                    <li><a href="javascrip:void(0);">4</a></li>
                                    <li><a href="javascrip:void(0);">...</a></li>
                                    <li><a href="javascrip:void(0);">50</a></li>
                                    <li class="wt-nextpage"><a href="javascrip:void(0);"><i class="lnr lnr-chevron-right"></i></a></li>
                                </ul>
                            </nav> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Ask Listing End-->
    </div>
</main>
{% endblock %}
