{% extends 'base.html.twig' %}

{% block body %}

<!--Inner Home Banner Start-->
    <div class="wt-haslayout wt-innerbannerholder">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                    <div class="wt-innerbannercontent">
                        <div class="wt-title"><h2>{{ ask.title }}</h2></div>
						<ol class="wt-breadcrumb">
							<li><a href="{{ path("home") }}">Accueil</a></li>
							<li><a href="{{ path("asklisting") }}">Trouver une mission</a></li>
							<li class="wt-active">Détail</li>
						</ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Inner Home End-->
<!--Main Start-->
			<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
				<div class="wt-haslayout wt-main-section">
					<!-- User Listing Start-->
					<div class="container">
						<div class="row">
							<div id="wt-twocolumns" class="wt-twocolumns wt-haslayout">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">
									<div class="wt-proposalholder">
										<div class="wt-proposalhead">
											<h2>{{ ask.title }}</h2>
											<ul class="wt-userlisting-breadcrumb wt-userlisting-breadcrumbvtwo">
												<li><span><i class="far fa-calendar-alt"></i> {{ ask.date|date("d/m/Y") }}</span></li>
												<li><span><i class="fas fa-map-marker-alt"></i> {{ ask.city.name }}</li>
												<li><span><i class="far fa-folder"></i> Mission: {{ ask.mission.name }}</span></li>
											</ul>
										</div>
										<div class="wt-btnarea"><button data-toggle="modal" data-target="#deleteModal" class="wt-btn">Répondre</button></div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-8 float-left">
									<div class="wt-projectdetail-holder">
										<div class="wt-projectdetail">
                                            <div class="wt-title">
												<h3>OBJECTIF DE LA MISSION</h3>
											</div>
											<div class="wt-description">
												<p>{{ ask.mission.objectif }}</p>
											</div>
                                            <div class="wt-title">
												<h3>REGLES DE SECURITE</h3>
											</div>
											<div class="wt-description">
												<p>{{ ask.mission.rules|raw }}</p>
											</div>
											<div class="wt-title">
												<h3>COMMENTAIRE</h3>
											</div>
											<div class="wt-description">
												<p>{{ ask.description }}</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 float-left">
									<aside id="wt-sidebar" class="wt-sidebar">
										<div class="wt-proposalsr">
                                            <div class="wt-title pt-5 pl-5">
												<h4>LES 5 REGLES A RESPECTER</h4>
											</div>
											<ul class="wt-projectliststyle pb-5 pl-5 pr-5 pt-2">
                                                <li><span><i class="fa fa-check"></i>Respecter les distances de sécurité</span></li>
                                                <li><span><i class="fa fa-check"></i>Appliquer les gestes barrières</span></li>
                                                <li><span><i class="fa fa-check"></i>Je suis un ambassadeur des règles de sécurité</span></li>
                                                <li><span><i class="fa fa-check"></i>Informer au moindre doute</span></li>
                                                <li><span><i class="fa fa-check"></i>Protéger au maximum ma santé et celle des autres</span></li>
											</ul>
										</div>
										
									</aside>
								</div>
							</div>
						</div>
					</div>
					<!-- User Listing End-->
				</div>
			</main>
			<!--Main End-->			
			{% if app.user %}
			{# Connection de l'utilisateur approuvé	 #}
				{% if answers|length != 0 %}
				{# des demandes existes pour cette mission #}
					{% for answer in answers %}
						{% if answer.user == app.user %}
						{# l'utilisateur à déjà postuler pour cette mission #}
							<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
								<form method="post" action="{{ path('answer', {'slug': ask.slug}) }}">           
									<div class="modal-header">
										<h5 class="modal-title" id="deleteModal">Participer à la mission</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										Tu ne peux malheuresement pas participer deux fois à la même mission..
										Mais merci pour ton bénévolat, il y a certainement d'autres missions à faire.
									</div>
									<div class="modal-footer">
										<button type="button" class="wt-btn" data-dismiss="modal">Retour</button>
									</div>
									</form>
								</div>
							</div>
							</div>
						{% else %}
						{# l'utilisateur peut postuler à la mission #}
							<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
								<form method="post" action="{{ path('answer', {'slug': ask.slug}) }}">           
									<div class="modal-header">
										<h5 class="modal-title" id="deleteModal">Participer à la mission</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<textarea type="textarea" name="content" placeholder="Un message, une information supplémentaire..?" rows="5" class="w-100" style="height: auto;"></textarea>
									</div>
									<div class="modal-footer">
										<button type="button" class="wt-btn" data-dismiss="modal">Retour</button>
									</div>
									</form>
								</div>
							</div>
							</div>
						{% endif %}
					{% endfor %}
				{% else %}
				{# aucune demande n'existe, l'utilisateur n'a pas pu s'enregistrer encore #}
							<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
								<form method="post" action="{{ path('answer', {'slug': ask.slug}) }}">           
									<div class="modal-header">
										<h5 class="modal-title" id="deleteModal">Participer à la mission</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<textarea type="textarea" name="content" placeholder="Un message, une information supplémentaire..?" rows="5" class="w-100" style="height: auto;"></textarea>
									</div>
									<div class="modal-footer">
										<button type="submit" class="wt-btn">PARTICIPER</button>
									</div>
									</form>
								</div>
							</div>
							</div>
				{% endif %}
			{% else %}
			{# l'utilisateur n'est pas connecté #}
			<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <form method="post" action="{{ path('answer', {'slug': ask.slug}) }}">           
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModal">Participer à la mission</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                         Pour participez à la mission, il faut te connecter !
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
						<a href="{{ path("app_login") }}" class="wt-btn">Se connecter</a>
                    </div>
                    </form>
                </div>
            </div>
            </div>
			{% endif %}
{% endblock %}