{% extends 'base.html.twig' %}

{% block body %}
			<!--Inner Home Banner Start-->
			<div class="wt-haslayout wt-innerbannerholder">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
							<div class="wt-innerbannercontent">
							<div class="wt-title"><h2>Nous contacter</h2></div>
							<ol class="wt-breadcrumb">
								<li><a href="{{ path("home") }}">Accueil</a></li>
								<li class="wt-active">Contact</li>
							</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Inner Home End-->
			<!--Main Start-->
			<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
				<!--Register Form Start-->
				<div class="wt-haslayout wt-main-section">
					<div class="container">
						<div class="row justify-content-md-center">
							<div class="col-xs-12 col-sm-12 col-md-10 push-md-1 col-lg-8 push-lg-2">
								<div class="wt-registerformhold">
									<div class="wt-registerformmain">
										<div class="wt-registerhead">
											<div class="wt-title">
												<h3>Contact</h3>
											</div>
											<div class="wt-description">
												<p>Vous avez le moindre souci, votre association veut un affichage prioritaire ? N'hésitez pas à nous contacter</p>
											</div>
										</div>
										<div class="wt-joinforms">
											{{ form_start(contact, { 'attr': {'class': 'wt-formtheme wt-formregister'} }) }}
											{{ form_errors(contact) }}
												<fieldset class="wt-registerformgroup">
													<div class="form-group form-group-half">
														<label>Votre nom</label>
														{{ form_widget(contact.name, { 'attr': {'class': 'form-control'} }) }}
													</div>
                                                    <div class="form-group form-group-half">
														<label>Votre prénom</label>
														{{ form_widget(contact.surname, { 'attr': {'class': 'form-control'} }) }}
													</div>
													<div class="form-group form-group-half">
														<label>Votre email</label>
														{{ form_widget(contact.email, { 'attr': {'class': 'form-control'} }) }}
													</div>
                                                    <div class="form-group form-group-half">
														<label>Votre numéro de téléphone</label>
														{{ form_widget(contact.phone, { 'attr': {'class': 'form-control'} }) }}
													</div>
													<div class="form-group">
														<label>Votre message</label>
														{{ form_widget(contact.content, { 'attr': {'class': 'form-control'} }) }}
													</div>
                                                    <div class="form-group text-center">
														<button type="submit" class="wt-btn">Envoyer un message</button>
													</div>
												</fieldset>
											{{ form_end(contact) }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--Register Form End-->
			</main>
			<!--Main End-->
{% endblock %}
